@import "../../../styles/variables";
@import "../../../styles/media";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
}

.container > span {
  display: block;
  position: absolute;
  transform: translateX(-100%);
  left: 0;
  font-family: $primaryFont;
  font-weight: 600;
  font-size: 12px;
  padding: 0 15px 0 0;
  white-space: nowrap;
}

.mobileLabel {
  display: none;
}

.prompt {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  flex: 0 0 auto;
  min-height: 46px;
  padding: 23px 20px 16px;
  line-height: 23px;
}

.fileName {
  word-break: break-word;
}

.loader {
  position: absolute;
  border-radius: 10px;
  background-color: rgba(14, 15, 21, 0.2);

  & > svg {
    padding: 0;
  }
}

.buttonContainer {
  display: block;
  position: relative;
  cursor: pointer;
  flex: 0 0 auto;
  margin-bottom: 22px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  user-select: none;
  color: $primaryColor;
  font-size: 12px;
  font-weight: 600;
  padding: 0 30px;
  border-radius: 15px;
  border: 1px solid $radioButtonColor;
  transition: background-color $duration ease, border-color $duration ease;
  @include faster;
  cursor: pointer;
}

.container:hover input ~ .button {
  background-color: $radioButtonHoverColor;
  border-color: $radioButtonHoverColor;
}

.error,
.help {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: $errorColor;
  font-size: 12px;
  padding-top: 2px;
  margin: 0;
  white-space: nowrap;
}

.error {
  color: $errorColor;
}

@include mobile {
  .container > span {
    display: none;
  }

  .mobileLabel {
    display: block;
    font-family: $primaryFont;
    font-weight: 600;
    font-size: 12px;
    padding: 0 15px 0 20px;
    margin-bottom: 5px;
    white-space: nowrap;
  }
}
