@import "./variables";

@mixin scroll(
  $width: 6px,
  $trackColor: rgba(0x31, 0x3c, 0x53, 0.1),
  $thumbColor: rgba(0xd1, 0x18, 0x34, 0.35)
) {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: $width;
    width: $width;
  }

  &::-webkit-scrollbar-button {
    background: transparent;
    display: none;
  }

  &::-webkit-scrollbar-track-piece {
    background: $trackColor;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $thumbColor;
    display: block;
    height: 48px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(149, 183, 194, 0.15);
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgba(19, 45, 66, 0.15);
  }

  &::-webkit-scrollbar-button {
    background: transparent;
    display: none;
  }

  &::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 4px 4px 0 0;
  }

  &::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 4px 4px;
  }

  &::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 4px 0 0 4px;
  }

  &::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 4px 4px 0;
  }
}
